<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My Videos Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My Videos Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Video Chat</strong>
    <p>This App will help you to</p>
    <ion-list>
      <ion-item>
        <ion-label>To share messages to another one</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>You can make a call to close person</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>You can also make a video call</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
